In [29]:
#updaing products table hw 5 

#connecting to database and creating ConformedProducts.txt table
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('products.db')
cur = conn.cursor()

# Create a temporary table to store the data from ConformedProducts.txt
cur.execute("""
    CREATE TABLE ConformedProducts (
        ProductKey1 INTEGER,
        sku TEXT,
        product_name TEXT,
        product_class_id INTEGER,
        subcategory TEXT,
        category TEXT,
        department TEXT,
        product_family TEXT,
        size TEXT,
        brandName TEXT,
        supplier TEXT
    )
""")

# Load data from ConformedProducts.txt into the temporary table
with open('ConformedProducts.txt', 'r') as file:
    next(file)  # Skip header line
    for line in file:
        fields = line.strip().split('\t')
        cur.execute("""
            INSERT INTO ConformedProducts (ProductKey1, sku, product_name, product_class_id, subcategory, category, department, product_family, size, brandName, supplier)
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """, fields)

conn.commit()

In [31]:
#Query to test that the temp table exists and works;

cur.execute("SELECT * FROM ConformedProducts LIMIT 10")

# Fetch all rows from the result set
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

conn.commit()

(1, '42081001', 'Jambalaya Rice Mix', 57, 'Rice', 'Starchy Foods', 'Starchy Foods', 'Food', '12 oz', 'Zatarains', 'Rowan Warehouse')
(2, '42082001', 'Jambalaya Rice Mix', 57, 'Rice', 'Starchy Foods', 'Starchy Foods', 'Food', '8 oz', 'Zatarains', 'Rowan Warehouse')
(3, '42083001', 'Guacamole Regular', 99, 'Fresh Fruit', 'Fruit', 'Produce', 'Food', '8 oz', 'Yucatan', 'Rowan Warehouse')
(4, '42084001', 'Coffee Original Blend', 90, 'Coffee', 'Hot Beverages', 'Beverages', 'Drink', '12 oz', 'Yuban', 'Rowan Warehouse')
(5, '42085001', 'GoGurt Variety Pack', 6, 'Yogurt', 'Dairy', 'Dairy', 'Food', '8 ct', 'Yoplait', 'Rowan Warehouse')
(6, '42086001', 'Italian Dressing', 260, 'Dressings', 'Baking Goods', 'Baking Products', 'Food', '16 oz', 'Wishbone', 'Rowan Warehouse')
(7, '42087001', 'Cheeseburger Heat & Serve Sliders', 65, 'Hamburger', 'Meat', 'Meat', 'Food', '29.28 oz', 'White Castle', 'Rowan Warehouse')
(8, '42088001', 'Choice Cuts Poultry', 77, 'Fresh Chicken', 'Meat', 'Deli', 'Food', '36 oz', 'Whiskas', 'Rowan Warehouse')
(9, '42089001', 'Farmers Pick Concord Grape', 99, 'Fresh Fruit', 'Fruit', 'Produce', 'Food', '46 oz', 'Welchs', 'Rowan Warehouse')
(10, '42090001', 'Juice Red Grape', 30, 'Juice', 'Pure Juice Beverages', 'Beverages', 'Drink', '64 oz', 'Welchs', 'Rowan Warehouse')

In [32]:
#create product_class table

cur.execute('''CREATE TABLE IF NOT EXISTS product_class (
                    product_class_id INTEGER PRIMARY KEY,
                    product_subcategory TEXT,
                    product_category TEXT,
                    product_department TEXT,
                    product_family TEXT
                )''')

# Read data from the text file
with open('product_class.txt', 'r') as file:
    lines = file.readlines()
    # Skip the header line if present
    lines = lines[1:] if lines[0].startswith('product_class_id') else lines
    # Parse each line and insert into the table
    for line in lines:
        data = line.strip().split('\t')
        cur.execute('''INSERT INTO product_class (
                            product_class_id, 
                            product_subcategory, 
                            product_category, 
                            product_department, 
                            product_family
                        ) 
                        VALUES (?, ?, ?, ?, ?)''', data)
conn.commit()

In [33]:
#Query to test that the temp table exists and works;

cur.execute("SELECT * FROM product_class LIMIT 10")

# Fetch all rows from the result set
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

(1, 'Nuts', 'Specialty', 'Produce', 'Food')
(2, 'Shellfish', 'Seafood', 'Seafood', 'Food')
(3, 'Canned Fruit', 'Fruit', 'Canned Products', 'Food')
(4, 'Spices', 'Baking Goods', 'Baking Goods', 'Food')
(5, 'Pasta', 'Starchy Foods', 'Starchy Foods', 'Food')
(6, 'Yogurt', 'Dairy', 'Dairy', 'Food')
(7, 'Coffee', 'Dry Goods', 'Baking Goods', 'Drink')
(8, 'Deli Meats', 'Meat', 'Deli', 'Food')
(9, 'Ice Cream', 'Frozen Desserts', 'Frozen Foods', 'Food')
(10, 'TV Dinner', 'Frozen Entrees', 'Frozen Foods', 'Food')

In [37]:

# Create the products table
cur.execute('''CREATE TABLE IF NOT EXISTS products (
                Manufacturer TEXT,
                ProductName TEXT,
                Size TEXT,
                ItemType TEXT,
                SKU TEXT,
                BasePrice FLOAT
            )''')

# Read data from products.txt and insert into the products table
with open('products.txt', 'r') as file:
    for line in file:
        # Split the line using the '|' delimiter
        data = line.strip().split('|')
        # Insert the data into the products table
        cur.execute('INSERT INTO products VALUES (?, ?, ?, ?, ?, ?)', data)

# Commit the transaction and close the connection
conn.commit()

In [38]:
#Query to test that the temp table exists and works;

cur.execute("SELECT * FROM products LIMIT 10")

# Fetch all rows from the result set
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

('Manufacturer', 'Product Name', 'Size', 'itemType', 'SKU', 'BasePrice')
('Zatarains', 'Jambalaya Rice Mix', '12 oz', 'Rice/Rice Mix', '42081001', '$2.49')
('Zatarains', 'Jambalaya Rice Mix', '8 oz', 'Rice/Rice Mix', '42082001', '$1.79')
('Yucatan', 'Guacamole Regular', '8 oz', '', '42083001', '$3.99')
('Yuban', 'Coffee Original Blend', '12 oz', 'Coffee/Creamer', '42084001', '$3.99')
('Yoplait', 'GoGurt Variety Pack', '8 ct', 'Yogurt', '42085001', '$2.99')
('Wishbone', 'Italian Dressing', '16 oz', 'Salad Dressing', '42086001', '$2.00')
('White Castle', 'Cheeseburger Heat & Serve Sliders', '29.28 oz', '', '42087001', '$11.59')
('Whiskas', 'Choice Cuts Poultry', '36 oz', 'Pet Food', '42088001', '$4.99')
('Welchs', 'Farmers Pick Concord Grape', '46 oz', '', '42089001', '$3.59')